.header {
	text-align: center;
	margin-bottom: 5px;
	color: #7499DD;
}
  
.header h1 {
	margin: 0;
	font-size: 36px;
}

.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
	margin-top: -200px;	/*negative margins move the element up*/
}

.Odds {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
}

.attackerOdds {
    width: 30%;
	padding: 20px;
	border: 2px solid black;
}

.attacker, .defender {
	width: 30%;
	padding: 20px;
	border: 2px solid black;
}

.center {
	width: 30%;
	padding: 20px;
	border: 2px solid black;
	text-align: center;
	margin-top: 10px;
}

.defender-strength, .attacker-strength {
    display: inline-block;  /*makes the two divs level on a horizontal line*/
    margin-right: 20px;
    margin-left: 20px;
}

body {
    background-color: #ddb874;
}


ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	margin-bottom: 10px;
}

input[type="checkbox"] {
	margin-right: 10px;
}

/* .subCheckboxLabel input[type="checkbox"], .subCheckboxLabel label {
	display: inline-block;
	vertical-align: middle;
}

.subCheckboxLabel input[type="checkbox"] {
	display: inline-block;
	vertical-align: middle;
}

.subCheckboxLabel label{
	display: inline-block;
	margin-left: 20px;
	margin-bottom: 0;
	vertical-align: middle;
} */
.subCheckboxLabel {
	margin-left: 20px;
  }
  
#attackSmallGun {
	margin-left: 20px !important;
}
