.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
}

.attacker, .defender {
	width: 30%;
	padding: 20px;
	border: 2px solid black;
}

.center {
	width: 30%;
	padding: 20px;
	border: 2px solid black;
	text-align: center;
}

.defender-strength, .attacker-strength {
    display: inline-block;  /*makes the two divs level on a horizontal line*/
    margin-right: 20px;
    margin-left: 20px;
}

body {
    background-color: #ddb874;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	margin-bottom: 10px;
}

input[type="checkbox"] {
	margin-right: 10px;
}
